<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab2">
      <ion-icon name="list"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Makanan </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="information"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>




