  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <b>Toko Moza Catering</b>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">

    <ion-slides [options]="option" class="ion-margin-top">

      <ion-slide>
        <ion-card>
          <img src="assets/image/ayam_geprek.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="assets/image/ayam_goreng.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="assets/image/ayam_panggang.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="assets/image/sate_ayam.jpg">
        </ion-card>
      </ion-slide>
      </ion-slides>

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"><b> Moza Catering</b></ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-card>
        <ion-card-header>
          <ion-card-title><b>Daftar Makanan</b></ion-card-title>
        </ion-card-header>
      
      <ion-item href="" class="ion-activated">
        <ion-avatar slot="start">
          <img src="assets/image/ayam_goreng.jpg">
        </ion-avatar>
        <ion-label>Ayam Goreng</ion-label>
        <ion-button href="">Lihat</ion-button>
      </ion-item>
    
      <ion-item href="#" class="ion-activated">
        <ion-avatar slot="start">
          <img src="assets/image/ayam_panggang.jpg">
        </ion-avatar>
        <ion-label>Ayam Panggang</ion-label>
        <ion-button serc="" href="">Lihat</ion-button>
      </ion-item>
      <ion-item href="#" class="ion-activated">
        <ion-avatar slot="start">
          <img src="assets/image/sate_ayam.jpg">
        </ion-avatar>
        <ion-label>Sate Ayam</ion-label>
        <ion-button href="">Lihat</ion-button>
      </ion-item>
      <ion-item href="#" class="ion-activated">
        <ion-avatar slot="start">
          <img src="assets/image/sate_kambing.jpg">
        </ion-avatar>
        <ion-label>Sate Kambing</ion-label>
        <ion-button href="">Lihat</ion-button>
      </ion-item>
    </ion-card>

  </ion-content>