<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>Mozza Catering</b> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu Makanan</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <br>
    <ion-title><b>1. Ayam Goreng</b></ion-title><br>
    <img src="https://www.resepistimewa.com/wp-content/uploads/ayam-goreng-kalasan-khas-yogya.jpg" alt=""><br>
    <ion-item><br>
      Nama Makanan : Ayam Goreng<br>
      Status : Ready<br>
      Harga : Rp. 13.000<br>
    </ion-item>
    <ion-button class="" href="">Detail</ion-button><br><br>

    <ion-title><b>2. Ayam Panggang</b></ion-title><br>
    <img src="https://asianfoodnetwork.com/content/dam/afn/global/en/recipes/ayam-pangang-kecap/AFN_ayam_panggang_kecap_main_image.jpg" alt="">
    <ion-item><br>
      Nama Makanan : Ayam Panggang<br>
      Status : Ready<br>
      Harga : Rp. 13.000<br>
    </ion-item>
    <ion-button class="" href="">Detail</ion-button><br><br>

    <ion-title><b>3. Ayam Penyet</b></ion-title><br>
    <img src="https://cdn1-production-images-kly.akamaized.net/jfi2A_uzZMrkVwhuMxepqSzmXgM=/640x480/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/3565588/original/089970900_1631111162-IG_molentaiwan.jpg" alt="">
    <ion-item><br>
      Nama Makanan : Ayam penyet<br>
      Status : Ready<br>
      Harga : Rp. 13.000<br>
    </ion-item>
    <ion-button class="" href="">Detail</ion-button><br><br>

    <ion-title><b>4. Sate Ayam </b></ion-title><br>
    <img src="http://kbu-cdn.com/dk/wp-content/uploads/sate-ayam-lecker.jpg" alt="">
    <ion-item><br>
      Nama Makanan : Sate Ayam<br>
      Status : Ready<br>
      Harga : Rp. 13.000<br>
    </ion-item>
    <ion-button class="" href="">Detail</ion-button><br><br>

    <ion-title><b> 5.Sate Kambing </b></ion-title><br>
    <img src="https://marikitamasak.com/wp-content/uploads/2021/06/sate-kambing-bumbu-kacang-foto-resep-utama.jpg" alt="">
    <ion-item><br>
      Nama Makanan : Sate Kambing<br>
      Status : Ready<br>
      Harga : Rp. 13.000<br>
    </ion-item>
    <ion-button class="" href="">Detail</ion-button><br><br>
  </ion-content>