<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>Info Pemesanan </b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Info Pemesanan</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-card>
    <ion-card-header>
      <ion-card-title><b>Mozza  Catering</b></ion-card-title><br>
      <img src="https://www.seekpng.com/png/detail/283-2830550_the-moza-guru360-air-is-a-3-axis.png" alt="">
    </ion-card-header>
  
    <ion-card-content>
      Untuk Info pemesanan dapat menghubungi contact dibawah ini :<br><br>
      WhatsApp : 085343327512<br>
      Facebook : mozaacatering<br>
      Instagram : @mozaacatrng_<br><br>

      Berikut ini adalah cara pemesanannya silahkan ketikan sesuai dengan Format yang tertera di bawah ini: <br><br>
      Nama Makanan : - <br>
      Jumlah pesanan : - <br>
      Nama Pemesan : -<br>
      Alamat : - <br>

      Setelah selesai mengisi data makanan yang akan dipesan lalu kirim ke nomor WhatShappp yang tertera.
      Setelah itu pesanan akan di proses oleh admin.
    </ion-card-content>
  </ion-card>


